#app {
  font-family: 'Roboto';
  height: 100%;
  .main{
    position: relative;
    height: 100%;
  }
}
header {
  background-color: #c8e6c8;
  border-bottom: 6px #60b761 solid;
  max-height: 100px;

  h1 {
    font-size: 32px;
    color: #0098a9;
    text-transform: uppercase;
    margin: 22px 0px;
    span {
      margin-left: 12px;
      position: relative;
      top: 4px;
    }
  }
}

.todos-page {
  ul {
    padding: 0;
    list-style-type: none;

    &.todos {
      border: 1px solid #c8c8c8;
      border-left: none;
      border-top: 1px solid #eeeeee;
      -webkit-box-shadow: 2px 2px 2px 0px rgba(200,200,200,1);
      -moz-box-shadow: 2px 2px 2px 0px rgba(200,200,200,1);
      box-shadow: 2px 2px 2px 0px rgba(200,200,200,1);
      margin-bottom: 120px;
    }
  }
  h2 {
    font-size: 24px;
    padding: 10px 0px;
  }
}

footer {
  background-color: #40aeb9;
  font-size: 18px;
  color: #ffffff;
  padding: 12px 0px;
  width: 100%;
}
