.filter {
  font-size: 18px;
  margin-bottom: 30px;
  li {
    display: inline-block;
    margin-right: 25px;
    a {
      color: #333333;
    }
    &.active a {
      text-decoration: underline;
    }
  }

}
