.newTodo {
  margin-bottom: 30px;
  
  input {
    border: 2px solid #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-size: 18px;
    padding: 4px 9px;
    width: 100%;
    max-width: 464px;
    margin-right: 12px;
  }
  .btn {
    background: none;
    background-color: #cccccc;
    border: none;
    width: 36px;
    height: 36px;
    background: #cccccc url('../assets/images/add.png') no-repeat center;
    position: relative;
    top: -1px;
  }
}
