.todos {
  li {
    border-left: 10px solid #36aab5;
    border-bottom: 1px solid #efefef;
    font-size: 18px;
    cursor: pointer;
    color: #666666;

    &:last-child{
      border-bottom: none;
    }

    .todoDescription {
      padding: 35px 40px 25px;
    }

    .btn-toolbar {
      display: none;
      padding-top: 26px;
      .btn {
        background: none;
        background-color: #cccccc;
        border: none;
        width: 36px;
        height: 36px;

        &.btn-remove {
          background: #cccccc url('../assets/images/remove.png') no-repeat center;
        }
        &.btn-done {
          background: #cccccc url('../assets/images/done.png') no-repeat center;
        }
      }
    }

    &:hover, &.active {
      .btn-toolbar {
        display: block;
      }
    }

    &.removed{
      border-left-color: #e5e5e5;
    }
    &.done{
      border-left-color: #a3d6a4;
      &:hover{
        background-color: #e7f4e7;
      }
    }
    &.todo:hover{
      background-color: #d9eff1;
    }
  }
}
